@import 'tailwindcss';

@tailwind utilities;

@font-face {
  font-family: 'PoppinsBold';
  src: url('./assets/fonts/Poppins-Bold.ttf') format('truetype');
}

@font-face {
  font-family: 'PoppinsSemiBold';
  font-style: normal;
  font-weight: 200 700;
  font-display: swap;
  src: url('./assets/fonts/Poppins-SemiBold.ttf') format('truetype');
}

@theme {
  --font-*: initial;
  --font-semi: 'PoppinsSemiBold', sans-serif;
  --font-bold: 'PoppinsBold', monospace;

  --color-*: initial;

  --color-white: white;
  --color-yellow: #cfd128;
  --color-cyan: #2ad3ce;
  --color-black: #1a1a1a;
  --color-backdrop: rgba(0, 0, 0, 0.5);
}

#root {
  height: 100vh;
  font-family: var(--font-semi), Futura, sans-serif;
  background-color: var(--color-backdrop);
}
